* {
  box-sizing: border-box;
}
body {
  padding: 20px;
    background-color: #636363;
  color: rgb(255, 255, 255);
  /* TODO Add dark mode styles here. */
}

.light-mode {
      background-color: rgb(183, 227, 228);
  color: rgb(131, 131, 131);
  /* TODO Add light mode styles here. */
}

.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted rgb(60, 60, 60);
  margin-left: auto;
  margin-right: auto;
  /* TODO Add margins to center. */
}
.poem {
  text-align: center;
}

footer {
    background-color: #6a6a6a;
  padding: 10px;
  text-align: center;
}
footer {
    background-color: #ffcaf2;
  padding: 10px;
  text-align: center;
}
.expample{
    border: 15px solid grey;
    padding: 20px;
    width: 200px;
}

.light-mode footer {
  /* TODO Add footer light mode styles here. */
}

