* {
  box-sizing: border-box;
}
body {
  padding: 20px;
    background-color: #636363;
  color: rgb(255, 255, 255);
  /* TODO Add dark mode styles here. */
}

.light-mode {
      background-color: rgb(255, 255, 183);
  color: rgb(255, 135, 209);
  /* TODO Add light mode styles here. */
}

footer {
    background-color:#ffc6ea;
  text-align: center;
}

.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted rgb(255, 78, 217);
  margin-left: auto;
  margin-right: auto;
  /* TODO Add margins to center. */
}
.poem {
  text-align: center;
}

.dark-mode{
footer {
    background-color:#ffb5e6;
background: radial-gradient(circle, rgba(255, 181, 230, 1) 31%, rgba(148, 255, 234, 1) 69%);
  text-align: center;
}
}
.expample{
    border: 15px solid rgb(255, 255, 255);
    padding: 20px;
    width: 200px;
}

.light-mode footer {
  /* TODO Add footer light mode styles here. */
}

